{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form class="search-box" action="" method="get">
  <input type="text" name="name" placeholder="名前">
  <button class='btn btn-primary' type="submit">検索</button>
  (<input type="number" min="1" max="12" name="month" value="{{month}}">月分)
</form>
<div class="-centering">
  <div>
    <table class="table">
      <tr>
        <th>
          <div class="form-check">
            <input class="form-check-input" data-group="wtc" type="checkbox" id="main_cb">
          </div>
        </th>
        <th>

        </th>
      </tr>
      {% for wtc in wt_changes %}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" data-group="wtc" type="checkbox" name="wtc[]" value="{{ wtc.pk }}">
          </div>
        </td>
        <td>
          {{wtc}}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% include 'paginator.html' with page_object=shifts%}
  </div>
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<!-- <script src="{% static 'scripts/staff/shifts.js' %}"></script> -->
{% endblock %}