{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-4">
  <form class="search-box -f-left" action="" method="get">
    <input type="text" name="name" placeholder="名前">
    <button class="btn btn-primary" type="submit">検索</button>
  </form>
  <a href="{% url 'staff_employee_create' %}" class="btn btn-success -f-right">従業員作成</a>
</div>
<div class="-centering">
  <table class="table">
    <tr>
      <th>従業員名</th>
      <th></th>
      <th>最終ログイン</th>
      <th></th>
    </tr>
    {% for employee in employees %}
    <tr>
      <td>
        {{employee.user.last_name}} {{employee.user.first_name}}
      </td>
      <td>
        {{employee.contract_string}}
      </td>
      <td class="w-20">
        {{employee.user.last_login}}
      </td>
      <td class="-centering">
        <a class="btn btn-info" href="{% url 'staff_employee_edit' employee.pk %}">編集</a>
        <a class="btn btn-danger" href="{% url 'staff_employee_delete' employee.pk%}" data-name="{{employee}}">削除</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% include 'paginator.html' with page_object=employees%}
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'scripts/staff/employees.js' %}"></script>
{% endblock %}