
{% extends 'base.html' %}
{% block content %}
<div class="-centering">
  <div id="datetime">
  </div>
</div>
<div id="app"></div>
<div class="ml-auto mr-auto w-100 -centering">
  <button id='w_start' class="btn btn-success -large">出勤</button>
  <button id='b_start' class="btn btn-info -large">休憩</button>
  <button id='b_end' class="btn btn-dark -large">休憩終</button>
  <button id='w_end' class="btn btn-danger -large">退勤</button>
</div>
  {% include 'main/worktimestamp/worktimestamp_table.html'%}
<div>
</div>
{% endblock %}
{% block scripts %}
{% load static %}
  <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}