<div>
  <table class="table">
    <tr>
      <th>
        <form method="get">
          打刻履歴
          (<input type="number" min="1" max="12" name="month" value="{{month}}">月)
        </form>
      </th>
      <th>メモ</th>
      <th></th>
    </tr>
    {% for ts in timestamps%}
    <tr data-pk="{{ts.pk}}">
      <td>
        {{ts.created_on}}
      </td>
      <td>
        {{ ts.memo }}
      </td>
      <td>
        {{ ts.stamp_string }}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% include 'paginator.html' with page_object=timestamps%}
</div>