<div>
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="navbar w-100 order-1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'worktimestamp' %}">打刻</a>
      </li>
      {% if request.user.employee.contract == 1 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shifts' %}">シフト提出</a>
      </li>
      {% endif %}
      {% if request.user.is_staff %}
      <li class="nav-item navbar-spacer"></li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown">打刻管理</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'staff_wt' %}">打刻履歴一覧</a>
          <a class="dropdown-item" href="{% url 'staff_wt_change' %}">打刻申請一覧</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'staff_shifts' %}">シフト管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'staff_employees' %}">従業員管理</a>
      </li>
    {% endif %}
    </ul>
  </div>
  <div class="navbar w-100 order-3">
    <div class="navbar ml-auto">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          {{user.last_name}}
        </button>
        <div class="dropdown-menu -right">
          {% if request.user.is_staff %}
          <a class="dropdown-item" href="/admin">管理ページ</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'employee_change_password' %}">パスワード変更</a>
          <a class="dropdown-item" href="/logout">ログアウト</a>
        </div>
      </div>
    </div>
  </div>
  </nav>
</div>