
{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="-centering">
  <div id="datetime">
  </div>
</div>
<div class="ml-auto mr-auto w-100 -centering">
  <button id='w_start' class="btn btn-success -large">出勤</button>
  <button id='b_start' class="btn btn-info -large">休憩</button>
  <button id='b_end' class="btn btn-dark -large">休憩終</button>
  <button id='w_end' class="btn btn-danger -large">退勤</button>
</div>
<div>
  <table class="table">
    <tr>
      <th>
        <form method="get">
          打刻履歴
          (<input type="number" min="1" max="12" name="month" value="{{month}}">月)
        </form>
      </th>
      <th>メモ</th>
      <th></th>
    </tr>
    {% for ts in timestamps%}
    <tr>
      <td>
        {{ts.created_on}}
      </td>
      <td>
        {{ ts.memo }}
      </td>
      <td>
        {{ ts.stamp_string }}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block scripts %}
{% load static %}
  <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}