.-f-left {
  float: left;
}

.-f-right {
  float: right;
}

.-inline {
  display: inline-block;
}

.-centering {
  text-align: center;
}

.vh100 {
  height: 100vh;
}

.navbar-spacer {
  border-left: #007bff50 solid 1px;
  margin-left: 12px;
  padding-left: 12px
}

.login-box {
  padding: 25px;
  border-radius: 5%;
  background-color: #efefef;
  width: 450px;
  margin: auto;
  top: 30%;
  position: relative;
}

.btn.-large {
  min-width: 150px;
  min-height: 100px;
  margin: 25px;
}

#datetime {
  font-size: 120px;
}

.datetime-input{
  width: 400px;
  padding: 25px;
  margin: 0px 25px;
}

.container {
  min-width: 500px;
}

.alert {
  margin: 0;
}

.alert.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.dropdown-menu.-right {
  left: unset;
  right: 0;
}

a.disabled {
  color: gray;
  pointer-events: none;
}

.table tr:hover {
  background-color: #ffc;
}