{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="-centering">
  <div>
      <form method="post" class="form-group datetime-input">
        {% csrf_token %}
        {{shift_form | crispy}}
        <button type="submit" class="btn btn-success">作成する</button>
      </form>
  </div>
</div>
  <form method="get">
    シフト一覧
    (<input type="number" min="1" max="12" name="month" value="{{month}}">月分)
  </form>
  {% include 'shifts/shift_table.html' %}
{% endblock %}
{% block scripts %}
{% load static %}
  <script src="{% static 'scripts/shifts.js' %}"></script>
{% endblock %}