{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'header.html' %}
<div class="-centering">
  <div>
      <form method="post" class="form-group datetime-input">
        {% csrf_token %}
        {{shift_form | crispy}}
        <button type="submit" class="btn btn-success">作成する</button>
      </form>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>シフト履歴</th>
        <th></th>
      </tr>
      {% for shift in shifts%}
      <tr>
        <td>
          {{shift.created_on}}
        </td>
        <td>
          {{ shift.status_string }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}